<div class="body-container">
    <div class="home-card">
        <h1 class="h1">Hello {{#if username}} {{username.email}} {{else}} World! {{/if}}</h1>
        <p class="lead">BookFit is a fitness-based appointment service.</p>
        <p class="lead">Secure your class now- members and drop-ins supported!</p>
        <hr class="my-4">
        <div class="user-auth">
            {{#if username}}
            <a href="/my-bookfit-appts" class="btn" role="button"> View My Appointments </a>
            {{else}}
            <form id="login" class="login-form">
                <h6 id="login-issue"></h6>
                <label for="login">E-mail</label>
                <input class="input form-control" id="email-input" type="email">
                <label for="login">Password</label>
                <input class="input form-control" id="password-input" type="password">
                <button id="login-submit" class="btn" role="button">Login</button>
            </form>
            <div id="signup" class="signup">
                <h5>Or, Sign Up below...</h5>
                <a id="main-signup" class="btn " href="/sign-up" role="button">Sign-Up</a>
            </div>
            {{/if}}
        </div>
    </div>
    {{#if username}}


    <div class="cards">
        <section class="card">
            <h3>Find a Facility</h3>
            <form id="user-search-form" class="search-text">
                <p> Search: </p>
                <input class="input form-control" id="facility-search" type="text">
                <button id="location-search-btn" type="submit" class="btn">Search</button>
            </form>

        </section>
    </div>

    {{/if}}

</div>