
 

    <div class="body-container">
        <div class="home-card">
            <h1 class="h1">Hello, {{#if username}} {{username.email}} {{else}} World! {{/if}}</h1>
            <p class="lead">BookFit is a fitness-based appointment service.</p>
            <p class="lead">Secure your class now- members and drop-ins supported!</p>
            <hr class="my-4">
            <div class="user-auth">
                {{#if username}}
                    <a id="workout-search" class="btn search" href="" role="button">Find My Workout</a>
                {{else}}
                <form id="login" class="login-form">
                    <label for="login">E-mail</label>
                    <input id="user-login-email" type="email">
                    <label for="login">Password</label>
                    <input id="user-login-password" type="password">
                    <a id="login-submit" class="btn" href="" role="button">Login</a>
                </form>
                <div id="signup" class="signup">
                    <h5>Or, Sign Up below...</h5>
                    <a id="main-signup" class="btn " href="/sign-up"  role="button">Sign-Up</a>
                </div>
                {{/if}}
            </div>
            
        </div>
        <div class="cards">
            <section class="card">
                <ul>
                    <li>
                    <span></span>
                    <strong>Card Stuff</strong>
                    </li>
                    <li>
                    <span></span>
                    <strong>Card Stuff</strong>
                    </li>
                    <li>
                    <span></span>
                    <strong>Card Stuff</strong>
                    </li>
                </ul>
            </section>
            <section class="card">
                <ul>
                    <li>
                    <span></span>
                    <strong>Card Stuff</strong>
                    </li>
                    <li>
                    <span></span>
                    <strong>Card Stuff</strong>
                    </li>
                    <li>
                    <span></span>
                    <strong>Card Stuff</strong>
                    </li>
                </ul>
            </section>
        </div>
        
</div>


<footer>
    <h6>BookFit</h6>
</footer>
