<div class="body-container">
    <div class="error">
        <h1>OOPS...</h1>
        <img id="error-gif" src="/images/error-page-gif.gif" alt="Error Gif">
        <h1>{{message}}</h1>
        <h2>{{error.status}}</h2>
        <h5>We don't have any facilities related to your search... go back and try again!</h5>
        <a href="/members" class="btn">Try Again</a>
    </div>
</div>
