
    <div class="body-container">
        <div class="home-card">
            <h1 class="h1">Hello, World!</h1>
            <p class="lead">BookFit is a fitness-based appointment service.</p>
            <p class="lead">Login or Register today to secure your class now- members and drop-ins supported!</p>
            <hr class="my-4">
            <div class="user-auth">
                <form id="auth-form" class="login-form">
                    <h6 id="login-issue"></h6>
                    <label for="login">E-mail</label>
                    <input id="email-input" class="form-control" type="email">  
                    <label for="login">Password</label>
                    <input id="password-input" class="form-control" type="password">
                    {{#if signup}}
                    <button id="signup-submit" class="btn" type="submit">Sign Up</button>
                    {{else}}
                    <button id="login-submit" class="btn" type="submit">Login</button>
                    {{/if}}
                </form>
                {{#if signup}}
                <div id="signup" class="signup">
                    <h5>Already have an account?</h5>
                    <a id="login-transfer" class="btn " href="/login" role="button">Login</a>
                </div>
                {{else}}
                <div id="signup" class="signup">
                    <h5>Need an account?</h5>
                    <a id="signup-transfer" class="btn " href="/sign-up" role="button">Sign Up</a>
                </div>
                {{/if}}
            </div>
        </div>
    </div>


