* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

$desktop: 768px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

$colors: (
  color1: rgb(0, 229, 245),
  color2: lighten(rgb(0, 84, 95), 70%),
  color3: rgb(76, 108, 253),
  color4: rgb(52, 58, 64),
  color5: rgb(245, 247, 247)
);

@function colors($color-name) {
  @return map-get($colors, $color-name);
}

body,
html {
  height: 100%;
}

body {

  
  display: flex;
  flex-direction: column;
  min-height: 100%;
  a, button {
    font-weight: 500;
    letter-spacing: 1.5px;
    border-radius: 10px;
    text-transform: uppercase;
  }
  #bg {
    background-color: colors(color2);
    clip-path: polygon(100% 0, 100% 79%, 42% 100%, 0 100%, 0 0);
    width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: -1;

    @include desktop {
      clip-path: polygon(100% 0, 100% 25%, 100% 42%, 69% 100%, 0 100%, 0 0);
    }
  }
  nav {
    text-transform: uppercase;
    background-color: colors(color4);
    display: flex;
    margin-bottom: 1em;
    position: fixed;
    top: 0;
    padding: 0 !important;
    box-shadow: 0px 4px 16px -5px rgba(181, 154, 181, 0.97);
    a#main-link {
      width: 75%;
      &:hover {
        text-decoration: none;
      }
      h1 {
        width: 50%;
        margin: 0.25em 0 0.25em 1em;
        font-size: 2em;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: colors(color1);
        &:hover {
          cursor: pointer;
        }
        span.title {
          font-size: 1.35em;
        }
      }
    }
    
    button.navbar-toggler {
      margin-right: 1em;
    }
    div.navbar-collapse {
      ul {
        li {
          margin: 0 0.75em;
          text-align: right;
          a {
            color: colors(color1)!important;
            margin: 0.5em 1em;
            a.nav-link {
              padding: 0 2em;
            }
            &:hover {
              background-color: colors(color1);
              color: black!important;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  div#help-modal {
    
    a.btn {
      background-color: colors(color4);
      color: colors(color1);
      margin: 0.5em 1em;
      &:hover {
        background-color: colors(color1);
        color: black!important;
        cursor: pointer;
      }
    }
    div.modal-content {
      background: #f5f7f7;

      h2.modal-title {
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-left: 0.75em;
      }

    }
  }
  footer {
    margin-top: auto;
    background-color: colors(color4);
    width: 100%;
    padding: 1em;
    color: colors(color1);
    text-align: center;
    box-shadow: 0px -4px 16px -5px rgba(181, 154, 181, 0.97);
    
    div.footer-content {
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      text-align: center;
      width: 50%;
      a {
        margin: 0 auto;
        padding: 0.5em 2em;
        color: colors(color1);
        &:hover {
          text-decoration: none;  
          color: colors(color4);
          background-color: colors(color1);
        }
        h6 {
          margin: 0 auto;
          &:hover {
            cursor: pointer;
          }
        }
      }
     
    }
   
  }

  div.body-container {
    width: 80%;
    margin: 0 auto;
    
    a, button {
      margin: auto;
      background-color: colors(color4);
      color: colors(color1);
      font-weight: 500;
      &:hover {
        opacity: 0.8;
        background-color: colors(color1);
        color: black;
        cursor: pointer;
      }
    }

    div.home-card {
      background-color: colors(color5);
      max-width: 100%;
      text-align: center;
      height: fit-content;
      padding: 20px;
      width: 100%;
      margin: 1.5em auto;
      border: none;
      border-radius: 10px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
   
      h1.h1 {
        font-size: 3em;
      }

      
      div.my-appt-card {
        width: 80%;
        margin: 1.5em auto;
        padding: 1em;
        h3, p, h5 {
          text-align: left;
          margin-bottom: 0;
        }
        p {
          font-size: 1.1em;
        }
      }

      div.user-auth {
        display: flex;
        flex-direction: column;
        text-transform: uppercase;

        form#login {
          min-width: 50%;
          display: flex;
          flex-direction: column;
          text-align: center;
          h6 {
            color:red;
          }
          input {
            width: 70%;
            margin: 0 auto;
            border-radius: 10px;
          }
          button.btn {
            margin-top: 0.5em !important;
            width: 40%;
          }
          @include desktop {
            border-right: 1px dashed;
          }
        }
        
        form#auth-form {
          min-width: 50%;
          display: flex;
          flex-direction: column;
          text-align: center;
          h6 {
            color:red;
          }
          input {
            width: 70%;
            margin: 0 auto;
            border-radius: 10px;
          }
          button.btn {
            margin-top: 0.5em !important;
            width: 40%;
          }
          @include desktop {
            border-right: 1px dashed;
          }
        }
        div#signup {
          margin: 2em auto 0 auto;
          a.btn {
            width: 60%;
          }
        }
        @include desktop {
          flex-direction: row;
        }
      }
      div.search-results{
        div.card {
          max-width: 80%;
          margin: 2em auto 0 auto;
          display: flex;
          flex-direction: row;
          div.search-card-title {
            max-width: 100%;
            display: flex;
            flex-direction: column;
            text-align: left;
            margin: 1em;
            div.facility-title{
              display: flex;
              flex-direction: row;
              p {
                margin: 0.35em 0 0 0.5em;
              }
            }
            div.facility-btn {
              margin-left: 0.5em;
              a {
                width: 15em;
                max-width: 85%;
              }
            }
          }
        
        }
      }
      div.business-cal {
        a {
          margin: 0.5em auto;
          span {
            color: colors(color4);
            visibility: hidden;
          }
          &:hover{
            span{
              visibility: visible;
            }
          }
        }
        .modal-footer {
          display: inline;
        }
        div#classes{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          div.card{
            width: 40%;
            margin: 1em auto;
            padding: 1em;
            border-radius: 10px;
          }
        }
      }
    }

    div.cards {
      margin: 0.5em 1em;
      display: flex;
      flex-direction: column;

      input {
        margin: 0 1em;
        width: 50%;
      }
      section.card {
        background: colors(color5);
        height: fit-content;
        padding: 20px;
        width: 95%;
        margin: 0.5em auto;
        justify-content: space-around;
        border: none;
        border-radius: 10px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

        h3 {
          text-transform: uppercase;
          letter-spacing: 1.5px;
          margin: 0.5em auto;
        }

        .search-text {
          display: flex;
          flex-direction: row;

          p {
            text-transform: uppercase;
            letter-spacing: 1.5px;
            margin: 0.5em 0.5em 0.5em auto;
          }

          input, select  {
            border-radius: 5px;
          }

          select {
            margin-right: 1em;
          }

          a {
            margin: auto 0 auto 0.5em;
          }
        }

        ul {
          li {
            list-style: none;
          }
        }
      }
    }
  }
  div.error {
    margin: auto;
    text-align: center;
    img {
      width: 50%;
    }
    h1 {
      margin-top: 0.25em;
      font-size: 4em;
    }
    a.btn {
      margin: 2em auto;
    }
  }
}
